# Python artifacts
__pycache__/
*.py[cod]
*.so
*.log

# IDE/project files
.idea/
.vscode/
*.iml

# Model weights / checkpoints (excluded)
*.pt
*.pth
*.ckpt
*.bin

# HuggingFace and arrow
*.arrow
*.jsonl
*.zip
*.tar.gz

# Build outputs
*.lib
*.dll

# Local Datasets
# Ignore raw data except 'samples/' and 'styles.csv'
data/raw/*
!data/raw/myntra_fashion_products/samples/
!data/raw/myntra_fashion_products/styles.csv

data/outputs/
dataset/
*.csv
*.tsv
*.xlsx

# Python environments
.venv/
env/
venv/
.Python
.env
*.env

# Notebook and system files
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# Training artifacts to exclude
trained_models_blip/
trained_models_clip/
trained_models_git/

# Clean logs automatically (if too large)
logs/*.txt

!logs/
!results/
!data/processed/processed_balanced_dataset/*.json
!data/samples/

!.gitignore
!requirements.txt
!README.md
!images.txt
!scripts/
